<p style='text-align: center;'><h1>QtCard</h1></p>
<p style='text-align: center;'><h4>Simple memory smart card manipulation utility</h4></p>
<p style='text-align: center;'>An utility to detect, read, update and personalize SLE4442 memory smart cards</p>
<p style='text-align: center;'>Source available on BitBucket - <a href="https://bitbucket.org/hinxx">https://bitbucket.org/hinxx</a></p>
<br>
<p style='text-align: center;'>Version 0.3 (28 Mar 2021)</p>
<br>
<p>Support available at <a href="mailto:hinkocevar@gmail.com?Subject=QtCard%20support%20call">hinkocevar@gmail.com</a></p>
